<div id="splash"></div>
<div id="message">
	<h1>Put Your Home on Auto Pilot.</h1>
	<h2>With HomeRun, you can save time and money on services for your home.</h2>
	<h2>It's simple, smart and reliable.</h2>
</div>
<div id="action-bar">
	<h2>Connect Your Home to HomeRun</h2>
	<h3>Get your invitation now.  Enter your email address below.</h3>
	
	<div id="email-container">
		<input type="email" id="email" placeholder="Connect Your Home" autocomplete="off">
		<div id="email-btn">Connect Now</div>
	</div>
</div>